<?xml version="1.0"?>

<launch>

  <arg name="debug" default="false" />



  <!-- Run Rviz and load the default config to see the state of the move_group node -->

  <include file="$(find motoman_gp8_moveit_config)/launch/moveit_rviz.launch">

    <arg name="rviz_config" value="$(dirname)/moveit.rviz"/>

    <arg name="debug" value="$(arg debug)"/>

  </include>

</launch>


